.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f7f6f6;
}

.pageLink {
    padding: 1em;
    font-size: large;
}

.pageLink.active {
    font-weight: bolder;
}

.pageLink.hovered {
    text-decoration: underline;
}

.highlightContainer {
    border: 2px dashed lightgrey;
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.iconsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5em;
    align-self: center;
}

.tf {
    padding-top: 1em;
}

.container {
    display: flex;
    flex-direction: column;
}

