.pageContainer {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: large;
    width: 100%;
}

.home {
    align-self: flex-start;
    padding-left: 1em;
}

.pageRow {
    padding-bottom: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em 0em 1em 
}
